{% extends "base.html" %} {% block body %}

<h1>Profile</h1>
<a href="update" class="btn btn-warning text-decoration-none"
    >Update Profile
</a>

<h2>Order History</h2>

<div class="col-10 d-flex flex-wrap pt-5">
    {% if orders %} {% for order in orders %}
    <div class="card mx-2" style="width: 18rem">
        <div class="card-body">
            <img
                class="card-img"
                src="{{ order.car.image.url }}"
                alt=""
                style="width: 50%"
            />
            <h5 class="card-title">{{ order.car.title }}</h5>
            <p class="card-text">
                {{ order.car.description|truncatewords:10 }}
            </p>
            <p>Price = {{ order.car.price }}$</p>
            <p>
                Brand :
                <button class="btn btn-primary m-2" disabled>
                    {{ order.car.brand.name }}
                </button>
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No orders yet.</p>
</div>
{% endif %} {% endblock body %}
